.contact-us{
    background-color: $lightcolor;
    .main-header{
        font-family: "lato";
        font-weight: 600;
        font-size: 20px;
        color: $redcolor;
        margin-left:7rem;
        
    }
    hr{
        margin-left:7rem;
        width: 15%;
  border-color: $redcolor;
  margin-bottom: 2rem;
 
    }
    .content-contact{
        width:50%;
        margin-left: 7rem;
    }
    .contact-form {
        .title {
            color: $redcolor;
            font-family: lato;
            text-align: center;
        }
       
        .contactform {
            
            background-color: transparent;
            
            overflow-y: auto;
            padding: 3.5rem 3rem;
           width:70%;
            
        }
        .subbutton {
            background-color: $redcolor;
            border: none;
            color: white;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
            width: 50%;
            padding: 6px 0;
            border-radius: 0;
        }
        .btn-active {
            text-align: left;
            margin: 3rem 0 0rem;
            padding-top: 1.8rem;
        }
        
        .group {
            position: relative;
            margin-bottom: 35px;
            background-color: white;
            border:none;
            
            
        }
        input,
        textarea {
            font-size: 14px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 100%;
            border:none;
           
            
            
        }
        input:focus,
        textarea:focus {
            outline: none;
        }
        /* LABEL ======================================= */
        label {
            color: #999;
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        /* active state */
        input:focus~label,
        input:valid~label {
            top: -20px;
            font-size: 14px;
            color: $redcolor;
        }
        textarea:focus~label,
        textarea:valid~label {
            top: -20px;
            font-size: 14px;
            color: $redcolor;
        }
        /* BOTTOM BARS ================================= */
        .bar {
            position: relative;
            display: block;
            width: 100%;
        }
        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: $redcolor;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }
        .bar:before {
            left: 50%;
        }
        .bar:after {
            right: 50%;
        }
        /* active state */
        input:focus~.bar:before,
        input:focus~.bar:after {
            width: 50%;
        }
        textarea:focus~.bar:before,
        textarea:focus~.bar:after {
            width: 50%;
        }
        /* HIGHLIGHTER ================================== */
        .highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
        /* active state */
        input:focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }
        textarea:focus~.highlight {
            -webkit-animation: inputHighlighter 0.3s ease;
            -moz-animation: inputHighlighter 0.3s ease;
            animation: inputHighlighter 0.3s ease;
        }
        /* ANIMATIONS ================ */
        @-webkit-keyframes inputHighlighter {
            from {
                background: $redcolor;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        @-moz-keyframes inputHighlighter {
            from {
                background: $redcolor;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        @keyframes inputHighlighter {
            from {
                background: $redcolor;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
    }
    //map//
    #map {
        border-radius: 5px;
        margin-bottom: 2rem;
        height: 510px;
        border: 0px;
        width: 100%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .gmap_canvas {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        iframe {
            width: 100% !important;
            height: 50rem;
        }
    }
}