.error-style{
    text-align: center;
    p{
        margin:0;
    }
    .error-text{
        font-family: "lato";
        font-weight: "regular";
        font-size: 50px;
        color: grey;
        margin-left:7rem;
        text-align:center;
    }
}
