footer{
    
    .text-box{
    width:300px;
    font-size: 18px;
}
.main-header{
    font-size: 25px;
            font-family: "lato";
            font-weight: "regular";
            color: $redcolor;
           
}
.icon-style{
margin-top: 1.25rem;
}
.icon-style2{
   padding-bottom: 20rem;
    }

}